{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col s12">
        <div class="col s6 float-left">
            <div class="container">
                <div class="account-details glass-card center center-align">
                    account details
                </div>
            </div>
        </div>
        <div class="col s6 float-left">
            <div class="container account-controls">
                <div class="profile-image glass-card center center-align">
                    profile image
                </div>
                <div class="donator-level glass-card center center-align">Donator level: 9999</div>
                <div class="row center center-align">
                    <div>
                        <a href="#" class="btn">edit</a>
                        <a href="#" class="btn">delete</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}