<!-- calls the code from base.html -->
{% extends 'base.html' %}

<!-- VERY IMPORTANT, calls the content block as defined in the base.html file, and
allows custom code to be written on a page by page basis. -->
{% block content %}
<div class="row">
    <div class="col s12 white-text margin-bottom-extension">

        <div class="row">
            <div class="col s12 center">
                <h1 class="display-4 fw-normal white-text p-3 pb-md-4 mx-auto text-center">Dashboard</h1>
            </div>
        </div>

        <div class="col s10 offset-s2">
            <div class="card glass-card center">
                <h4 class="py-3">Account Details</h4>
                <hr>
                <div class="float-left">
                    <p><strong>Username: </strong>{{ user.username }}</p>
                    <p><strong>Email: </strong>{{ user.email }}</p>
                </div>
                <hr>
                <h4 class="py-3">Donation History</h4>
                <div class="row">
                    <div class="col s12">
                        <a href="{% url 'donationHistoryView' %}"
                        class="waves-effect waves-light btn blue darken-1">
                        click to view
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}