<!-- donations.html is the page for displaying pre-defined payment packages, as
pre-defined in models.py. -->

<!-- 'extends' calls the base.html file and uses the code from there, then using the
pre-defined django templating tags, allows the developer to add custom code without
having the re-write everything contained in 'base.html' -->
{% extends 'base.html' %}

<!-- Block content called here to write to main code content for the donations page. -->
{% block content %}

<!-- donation-box-move using simple css to create a mouseover hover effect on each of
the payment package boxes, defined below using .card -->
<div id="donations-box-move" class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal white-text">Make a Donation</h1>
      <p class="fs-5 white-text">To make it easier for you to make a selection we've put together three template donation packages.</p>
    </div>
  
    <!-- Selectable payment cards organized into a scetion tag. -->
    <section>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        
        {% for product in products %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-md glass-card white-text">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title yellow-text">£{{ product.price }}<small class="text-muted fw-light white-text">/OTP</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ product.description1 }}</li>
                <li>{{ product.description2 }}</li>
                <li>{{ product.description3 }}</li>
              </ul>

              <!-- Button defined herer to re-direct to the checkout page. -->
              <a type="submit" href="{% url 'checkout' product.name %}" 
                class="waves-effect waves-light btn blue darken-1">
                donate
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>


<!-- End of 'content' block. -->
{% endblock %}

