{% extends 'base.html' %}

{% block content %}

<div id="donations-box-move" class="container py-3">
 
  
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal white-text">Make a Donation</h1>
      <p class="fs-5 white-text">To make it easier for you to make a selection we've put together three template donation packages.</p>
    </div>
  
    <main class="margin-bottom-extension">
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-md glass-card white-text">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Cheap</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title yellow-text">£5<small class="text-muted fw-light white-text">/OTP</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>10 Donator Points</li>
                <li>Fancy helping out?</li>
                <li>You just want to help?</li>
                <li>Click the button?</li>
              </ul>
              <button type="button" class="waves-effect waves-light btn blue darken-1" id="click-to-play-sound">donate</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-md glass-card white-text">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Nice</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title yellow-text">£50<small class="text-muted fw-light white-text">/OTP</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>100 Donator Points</li>
                <li>You arn't hard-up?</li>
                <li>Got something to prove?</li>
                <li>Click me!</li>
              </ul>
              <button type="button" class="waves-effect waves-light btn blue darken-1" id="click-to-play-sound">Donate</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-md border-primary glass-card white-text">
            <div class="card-header py-3 text-white bg-primary border-primary blue darken-1">
              <h4 class="my-0 fw-normal">Big Spender</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title yellow-text">£500<small class="text-muted fw-light white-text">/OTP</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>1000 Donator Points</li>
                <li>Give to the poor boys</li>
                <li>From the poor families</li>
                <li>Easy Bragging rights</li>
              </ul>
              <button type="button" class="waves-effect waves-light btn blue darken-1" id="click-to-play-sound">Donate</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}