{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="row">
    <div class="individual-testimonial">
        <div class="col s4 blue lighten-2">
                <div>
                    <p class="center white-text"><strong>Generic Teen</strong></p>
                </div>
            </div>
            <div class="col s8 blue lighten-5">
                <div>
                    <p class="center"> -- "some mad words and phrases about gratitude."</p>
                </div>
        </div>
    </div>
    <div class="individual-testimonial">
        <div class="col s4 blue lighten-2">
                <div>
                    <p class="center white-text"><strong>Generic Teen</strong></p>
                </div>
            </div>
            <div class="col s8 blue lighten-5">
                <div>
                    <p class="center"> -- "some mad words and phrases about gratitude."</p>
                </div>
        </div>
    </div>
</div>


{% endblock %}