{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- In this template, we define the elements that wil be used to display what the user
	is "purchasing", how much it will cost, and a simple bacnking card element which allow
	the user to enter their card details -->

<section class="section-padding-bottom">
	<!-- Simple 'checkout header' with some instruction to the user lettting the know
		 what they should be doing with this page when displayed. -->
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal white-text">Checkout</h1>
        <p class="fs-5 white-text">Please enter your billing information and card details below, to complete a donation.</p>
    </div>

    <div class="container">
        <div class="row white-text">
            <div class="col s12 offset-s2">
                <div class="card center glass-card card-padding">
                <h4>Order Summary</h4>
                <hr>
					<!-- All the elements for the order summary and stripe card elements are wrapped
						 inside a form html element, which is how we are able to send this information
						 to stripe, namely through the payment-form id -->
                    <form class="center" action="{% url 'charge' %}" method="post" id="payment-form">
                        {% csrf_token %}
                        <div class="order-summary-field">
                            <div class="card-body">
                            <div class="col s10 offset-s2">
                                <div class="card mb-4 rounded-3 shadow-md glass-card white-text">
                                    <div class="py-3">
                                        <h4 class="my-0 fw-normal">{{ product.name }}</h4>
                                    </div>
                                    <input class="d-none" name="amount" id="amount" value="{{ product.price }}">
                                    <option class="card-title pricing-card-title yellow-text" name="amount" id="amount" value="{{ product.price }}">Total: £{{ product.price }}</option>
                                </div>
                            </div>
                            </div>
                        </div>
						<!-- These elements below allow a user to customise their nickname or email to
							 be recorded into the database. -->
                        <div class="form-field-6">
                            <input class="center center-align" required type="text" name="email" placeholder="Email">
                        </div>
                        <div class="form-field-6">
                            <input class="center center-align" required type="text" name="nickname" placeholder="Nickname">
                        </div>
                        <hr>
						<!-- Some simple elements put together as per the integration instructions
							 from the stripe API in order to generate the card input element for a user to
							 enter their visa card details. much of the heavy lifting with generating this
							 element is done using JavaScript -->
                        <h6>Card Details</h6>
                        <hr>
                        <br>
                        <div class="form-row">
                            <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                            </div>
    
                            <!-- Used to display form errors. -->
                            <div class="col s12 center">
                                <div id="card-errors" role="alert"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col s12 center">
                                <div class="pay-now-section">
                                    <br>
                                    <button class="waves-effect waves-light btn blue darken-1">Donate Now</button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Script tag used to write in the JavaScript from the Stripe API -->
<script>
// Create a Stripe client.
		var stripe = Stripe('pk_test_51IcwMYIXOx9uZSSgsHfRJknAxd9ghJVcy7xI83IdyiUfj7EZ7cjsdBwJBUvMNGKRZSb1bwN288Z7p83aLTb0Opoo00hIm3whET');

		// Create an instance of Elements.
		var elements = stripe.elements();

		// Custom styling can be passed to options when creating an Element.
		// (Note that this demo uses a wider set of styles than the guide below.)
		var style = {
		  base: {
		    color: '#32325d',
		    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
		    fontSmoothing: 'antialiased',
		    fontSize: '16px',
		    '::placeholder': {
		      color: '#aab7c4'
		    }
		  },
		  invalid: {
		    color: '#fa755a',
		    iconColor: '#fa755a'
		  }
		};

		// Create an instance of the card Element.
		var card = elements.create('card', {style: style});

		// Add an instance of the card Element into the `card-element` <div>.
		card.mount('#card-element');

		// Handle real-time validation errors from the card Element.
		card.addEventListener('change', function(event) {
		  var displayError = document.getElementById('card-errors');
		  if (event.error) {
		    displayError.textContent = event.error.message;
		  } else {
		    displayError.textContent = '';
		  }
		});

		// Handle form submission.
		var form = document.getElementById('payment-form');
		form.addEventListener('submit', function(event) {
		  event.preventDefault();

		  stripe.createToken(card).then(function(result) {
		    if (result.error) {
		      // Inform the user if there was an error.
		      var errorElement = document.getElementById('card-errors');
		      errorElement.textContent = result.error.message;
		    } else {
		      // Send the token to your server.
		      stripeTokenHandler(result.token);
		    }
		  });
		});

		// Submit the form with the token ID.
		function stripeTokenHandler(token) {
		  // Insert the token ID into the form so it gets submitted to the server
		  var form = document.getElementById('payment-form');
		  var hiddenInput = document.createElement('input');
		  hiddenInput.setAttribute('type', 'hidden');
		  hiddenInput.setAttribute('name', 'stripeToken');
		  hiddenInput.setAttribute('value', token.id);
		  form.appendChild(hiddenInput);

		  // Submit the form
		  form.submit();
		}
</script>

{% endblock %}

