{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="center-verify-email">
    <div class="container">
        <div class="row">
            <div class="col s12 center white-text">
                <div class="card center glass-card card-padding">
                    <h2>Thank You!</h2>
                    <h4>Your Donation of <span class="yellow-text">£{{ amount }}</span> was successful..</h4>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}