{% extends 'base.html' %}

{% block content %}

<main class="container s12 m4 l8 center">
      <div class="card transparent center">
          <div class="row">
              <form class="col s12 center"  method="POST" action="#">
                  <div class="row">
                    <div class="input-field col s12 center">
                      <i class="fa fa-user-circle prefix"></i>
                      <input id="username" name="username" type="text"
                          required pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                      <label for="username">Username</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 center">
                      <i class="fa fa-lock prefix"></i>
                      <input id="password" name="password" type="password"
                          required pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                      <button class="btn waves-effect green darken-1 center" type="submit">Sign Up
                      </button>
                  </div>
              </form>
          </div>
        <div class="row">
            <p class="white-text">Already Signed Up? <a href="#" class="yellow-text">Login</a></p>
        </div>
      </div>
</main>

{% endblock %}