@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

/*---------- Navbar styles ---------*/

.brand-logo {
    font-family: "Lato";
    margin-left: 10px;
    margin-right: 10px;
}

.side-nav li>a {
    color: white;
}

nav li>a:hover {
    color: yellow;
    transition: .3s ease-in;
}

.sidenav li>a:hover {
    color: yellow;
    transition: .3s ease-in;
}

/*------------- Home page styles -------------*/

body {
    background: url('/static/media/banner.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
}

/*------------ Login/Register page styles --------*/



/*----------- Reuseable styles -------------*/

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.overlay-darken {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.342);
	z-index: -1;
}

.capitalize-text {
	text-transform: uppercase;
}