@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

/*---------- Navbar styles ---------*/

.brand-logo {
    font-family: "Lato";
    margin-left: 10px;
    margin-right: 10px;
}

.side-nav li>a {
    color: white;
}

nav li>a:hover {
    color: yellow;
    transition: .3s ease-in;
}

.sidenav li>a:hover {
    color: yellow;
    transition: .3s ease-in;
}

/*------------- Home page styles -------------*/

body {
    background: url('/static/media/banner.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
}

/*------------ Login/Register page styles --------*/

.fa-user-circle, .fa-lock {
	color: white;
}

  /* label color */
.input-field label {
	color: black;
}
  /* label focus color */
.input-field input[type=text]:focus + label {
	color: yellow;
}
  /* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: none;
	box-shadow: 0 1px 0 0 #000;
}
  /* valid color */
.input-field input[type=text].valid {
	border-bottom: none;
	box-shadow: 0 1px 0 0 #000;
}
  /* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0 0 #000;
}
  /* icon prefix focus color */
.input-field .prefix.active {
	color: yellow;
}

/*----------- Reuseable styles -------------*/

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.overlay-darken {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.342);
	z-index: -1;
}