<!-- index.html is the main Landing page for the website. -->

<!-- 'extends' calls the base.html file and uses the code from there, then using the
pre-defined django templating tags, allows the developer to add custom code without
having the re-write everything contained in 'base.html' -->
{% extends 'base.html' %}

<!-- Block content called here to write to main code content for the landing page. -->
{% block content %}

    <!-- Organizes code into individual sections. -->
    <section class="section-padding">
        <!-- Boostrap css 'conatiner' centers with padding -->
        <div class="container">
            <div class="row">
                <div class="col s12 offset-s2 white-text">
                    <div>
                        <h2 class="capitalize-text white-text">"A teen with a phone can never feel alone..."</h2>
                    </div>
                    <div>
                        <br>
                        <a href="{% url 'donations' %}" 
                        class="waves-effect waves-light btn blue darken-1">
                            make a donation
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Seconds section which displays as a transparent div across 100% width of the 
    screen in order to make a clear seperation of content visibile to the user. -->
    <section class="partition-section">
            <div class="container">
                <div class="row">
                    <div class="col s12 offset-s2 white-text">
                        <div class="card center glass-card card-padding">
                            <h3 class="white-text">About</h3>
                            <hr>
                            <p>
                                Every teenager deserves a chance at a bright future, and what better way
                                is there than through a luminous screen?
                            </p>
                            <p></p>
                                Since March 2020, we have been working with teenagers all over the country
                                to ensure that they don't fall behind the arrogance and self-confidence of
                                their peers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

<!-- Defines end of 'content' code block. -->
{% endblock %}