{% extends 'base.html' %}

{% block content %}

<div>
    <h3>89% of Teenagers want to buy an iPhone in the next 12 months!</h3>
    <p>Why encourage your teenagers to go outside during a pandemic while
    they can get computer viruses at home. One teenager said "How am I supposed to
    combat cyberbullying if I don't have my own Phone."</p>
</div>

<div>
    <h3>Am I depriving my kid if I don't get them an iPhone?</h3>
    <p><strong>Smartphones -- </strong> especially the latest, fanciest ones -- 
    have become status.</p>
</div>

{% endblock %}